/* main font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* captcha fonts */
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body{
   background-color: #DCEFE2;
   font-family: Poppins, arial, sans-serif;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
  width: 300px;
  height: 400px;
  background: #9A9A9A;
  border-radius: 25px;
  overflow: hidden;
}

.container .captcha-box{
  width: 100%;
  height: 150px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgba(0,0,0,0.5);
}

.container .content{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.container input{
  border: none;
  height: 30px;
  width: 80%;
  border-radius: 25px;
  border: 2px solid #626262;
  transition: .3s;
}

.container input:focus{
  outline: none;
  text-align: center;
  border-color: rgba(167,180,220,1);
  box-shadow: 0 0 0 3.5px rgba(167,180,220,0.5);
}

.container .content .btn-submit{
  width: 75px;
  height: 25px;
  border-radius: 15px;
  background: #D7DAFF;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.captcha{
  margin: 10px;
  /* display: inline-block; */
}